@use "variables" as *;

.about {
  &__icon {
    border: $border-grey;
    border-radius: $border-radius-xs;
    padding: 1.5em;
    margin-top: 18em;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    width: 12ch;
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    margin-block: 1em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-light;
    line-height: 2;
    margin-bottom: 1.5em;
  }

  &__cta-btn {
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    color: $font-regular;
    border: 1px solid $font-light;
    border-radius: $border-radius-m;
    padding: 1em 3em;
    margin-bottom: 5em;
  }
}

.about-card {
  position: relative;
  z-index: 10;

  &__grid {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 10px;
  }

  &__main-img {
    width: 100%;
  }

  &__content-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: $white;
    border-radius: 0px 0px $border-radius-l $border-radius-l;
    box-shadow: $box-shadow;
    padding-block: 2em 1.4em;
    padding-inline: 0.8em;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: $bg-accent;
    border-radius: $border-rounded;
    margin-right: 1em;

    img {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 0.2em;
    }
  }

  &__title {
    color: $font-regular;
    font-size: $fs-l;
    font-weight: $fw-light;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-light;
  }

  &__bg-element1 {
    z-index: -1;
    position: absolute;
    top: 513px;
    left: 18px;
    width: 17.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    z-index: -2;
    position: absolute;
    top: 529px;
    left: 48px;
    width: 13.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }
}

.about-subcard {
  position: absolute;
  top: 240px;
  right: 10px;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em 2.375em;

  &__title {
    display: flex;
    justify-content: center;
    color: $font-regular;

    span {
      font-size: $fs-l;
    }

    p {
      font-size: $fs-2xl;
      font-weight: $fw-extralight;
    }
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    margin-bottom: 1em;
  }

  &__img {
    width: 9.25rem;
  }
}

.subcard-map {
  top: 290px;
  padding: 0;
  margin: 0;
}
