@use "variables" as *;

.blog {
  &__title {
    text-align: center;
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    padding-block: 1.5em;
  }
}

.blog-card-container {
  position: relative;
  z-index: 10;

  &__grid1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    left: 30px;
  }

  &__grid2 {
    position: absolute;
    z-index: -3;
    bottom: -70px;
    left: 80px;
  }

  &__arrow-left {
    position: absolute;
    bottom: 48%;
    left: -5px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
  }

  &__arrow-right {
    position: absolute;
    bottom: 48%;
    right: -5px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
  }
}

.blog-card-1 {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    color: $fw-regular;
    font-size: $fs-m;
    font-weight: $fw-light;
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 565px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }
  &__title {
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-regular;
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

.blog-card-2 {
  display: none;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    color: $fw-regular;
    font-size: $fs-m;
    font-weight: $fw-light;
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 565px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }

  &__title {
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-regular;
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

.blog-card-3 {
  display: none;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    color: $fw-regular;
    font-size: $fs-m;
    font-weight: $fw-light;
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 565px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }

  &__title {
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-regular;
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

@media (min-width: 1440px) {
  .blog {
    &__title {
      font-size: $fs-2xl;
      padding-block: 0.5em;
    }
  }

  .blog-card-container {
    display: flex;
    flex: 1 1 0;
    width: 0;
    gap: 2em;

    &__grid1 {
      top: 75px;
      left: -40px;
    }

    &__grid2 {
      bottom: 140px;
      left: 1040px;
    }

    &__arrow-left {
      bottom: 55%;
      left: -25px;
    }

    &__arrow-right {
      bottom: 55%;
      right: -1200px;
    }
  }

  .blog--accent {
    background-color: $bg-main;
  }

  .blog-card-2,
  .blog-card-3 {
    display: flex;
  }

  .blog-card-2 {
    &__tag {
      left: 450px;
    }

    &__title {
      width: 10ch;
    }

    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 415px;
      background-color: $bg-main;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 445px;
      background-color: $bg-main;
    }
  }

  .blog-card-3 {
    &__tag {
      left: 850px;
    }

    &__title {
      width: 12ch;
    }

    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 815px;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 845px;
    }
  }
}
