@use "variables" as *;
@use "mixins" as *;

.blog {
  &__title {
    text-align: center;
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    padding-block: 1.5em;
  }
}

.blog-card-container {
  position: relative;
  z-index: 10;

  &__grid1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    left: 30px;
  }

  &__grid2 {
    position: absolute;
    z-index: -3;
    bottom: -70px;
    left: 80px;
  }

  &__arrow-left {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: -20px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    @include background-properties("../img/icon-left.svg", no-repeat, center);
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
    transition: $btn-scale;
  }

  &__arrow-left:is(:hover, :focus) {
    transform: scale(1.1);
  }

  &__arrow-right {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    right: -20px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    @include background-properties("../img/icon-right.svg", no-repeat, center);
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
    transition: $btn-scale;
  }

  &__arrow-right:is(:hover, :focus) {
    transform: scale(1.1);
  }
}

.blog-card-1 {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 530px;
    width: 18rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 545px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }
  &__title {
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    margin-bottom: 0.5em;
  }

  &__subtitle {
    @include text-properties($font-light, $fs-s, $fw-regular);
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

.blog-card-2 {
  display: none;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 565px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }

  &__title {
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    margin-bottom: 0.5em;
  }

  &__subtitle {
    @include text-properties($font-light, $fs-s, $fw-regular);
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

.blog-card-3 {
  display: none;
  flex-direction: column;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  padding: 1.5em;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 550px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    position: absolute;
    z-index: -2;
    top: 565px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    margin-bottom: 1.5em;
  }

  &__content-wrapper {
    padding: 0.5em;
  }

  &__title {
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    margin-bottom: 0.5em;
  }

  &__subtitle {
    @include text-properties($font-light, $fs-s, $fw-regular);
    line-height: 2;
    margin-bottom: 0.5em;
  }

  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $fs-s;
    margin-block: 1.5em;

    p {
      color: $font-regular;
      font-weight: $fw-light;
    }

    &__comments {
      display: flex;
      gap: 0.4em;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blog-card-container {
    width: 21rem;

    &__grid2 {
      bottom: 30px;
    }
  }

  .blog-card-1 {
    &__bg-element1 {
      top: 555px;
    }

    &__bg-element2 {
      top: 570px;
      left: 45px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .blog-card-container {
    display: flex;
    flex: 1 1 0;
    width: 0;
    gap: 2em;

    &__arrow-left {
      bottom: 55%;
      left: -10px;
    }

    &__arrow-right {
      bottom: 55%;
      right: -780px;
    }

    &__grid2 {
      position: absolute;
      bottom: 20px;
      left: 500px;
    }
  }

  .blog-card-1 {
    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 20px;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 45px;
    }
  }

  .blog-card-3 {
    display: flex;

    &__tag {
      left: 450px;
    }

    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 420px;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 445px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .blog {
    &__title {
      font-size: $fs-2xl;
      padding-block: 0.5em;
    }
  }

  .blog-card-container {
    display: flex;
    flex: 1 1 0;
    width: 0;
    gap: 2em;

    &__grid1 {
      top: 75px;
      left: -40px;
    }

    &__grid2 {
      bottom: 140px;
      left: 1040px;
    }

    &__arrow-left {
      bottom: 55%;
      left: -25px;
    }

    &__arrow-right {
      bottom: 55%;
      right: -1200px;
    }
  }

  .blog--accent {
    background-color: $bg-main;
  }

  .blog-card-1 {
    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 15px;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 45px;
    }
  }

  .blog-card-2,
  .blog-card-3 {
    display: flex;
  }

  .blog-card-2 {
    &__tag {
      left: 450px;
    }

    &__title {
      width: 10ch;
    }

    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 415px;
      background-color: $bg-main;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 445px;
      background-color: $bg-main;
    }
  }

  .blog-card-3 {
    &__tag {
      left: 850px;
    }

    &__title {
      width: 12ch;
    }

    &__bg-element1 {
      width: 21.125rem;
      top: 550px;
      left: 815px;
    }

    &__bg-element2 {
      width: 17.125rem;
      top: 565px;
      left: 845px;
    }
  }
}
