@use "variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    color: $white;
    text-decoration: none;
  }

  &__desktop-links {
    display: none;
  }

  &__cta-btn {
    background-color: transparent;
    color: $white;
    font-family: inherit;
    font-weight: $fw-regular;
    letter-spacing: 1px;
    border: $border-neutral;
    border-radius: $border-radius-m;
    padding: 0.75em 3.125em;
  }

  &__menu {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border: $border-neutral;
    border-radius: $border-rounded;
    padding: 1.4em;

    span {
      display: block;
      height: 2px;
      width: 12px;
      background-color: $white;
      margin-bottom: 3px;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    margin-top: 1em;

    &__desktop-links {
      display: flex;
      gap: 2.8em;
      list-style: none;

      &__link {
        a {
          text-decoration: none;
          color: $white;
          font-size: $fs-s;
          font-weight: $fw-light;
        }
      }
    }

    &__menu {
      display: none;
    }
  }
}
