@use "variables" as *;
@use "mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    @include text-properties($white, $fs-xl, $fw-extralight);
    text-decoration: none;
  }

  &__desktop-links {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__menu {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border: $border-neutral;
    border-radius: $border-rounded;
    padding: 1.4em;

    span {
      display: block;
      height: 2px;
      width: 12px;
      background-color: $white;
      margin-bottom: 3px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    &__wrapper {
      display: flex;
      gap: 1em;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    &__desktop-links {
      display: flex;
      gap: 2.8em;
      list-style: none;

      &__link {
        a {
          text-decoration: none;
          @include text-properties($white, $fs-s, $fw-light);
          transition: $link-border-bottom;
        }

        a:is(:hover, :focus) {
          padding-bottom: 0.2em;
          border-bottom: $border-grey;
        }
      }
    }

    &__menu {
      display: none;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    margin-top: 1em;

    &__desktop-links {
      display: flex;
      gap: 2.8em;
      list-style: none;
      margin-right: 10em;

      &__link {
        a {
          text-decoration: none;
          @include text-properties($white, $fs-s, $fw-light);
          transition: $link-border-bottom;
        }

        a:is(:hover, :focus) {
          padding-bottom: 0.2em;
          border-bottom: $border-grey;
        }
      }
    }

    &__menu {
      display: none;
    }
  }
}
