@use "variables" as *;
@use "mixins" as *;

.percentages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-block: 3em;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0.5em;
  }

  h3 {
    width: 10.625rem;
    height: 10.625rem;
    @include text-properties($white, $fs-2xl, $fw-extralight);
    border: 8px solid $accent-green;
    border-radius: 50%;
    padding: 0.8em;
    margin-bottom: 1.8rem;
  }

  p {
    @include text-properties($white, $fs-l, $fw-light);
  }
}

@media only screen and (min-width: 1440px) {
  .percentages {
    flex-direction: row;
    justify-content: space-between;

    &__block {
      margin-block: 1em;

      p {
        margin: 0;
      }
    }
  }
}
