@use "variables" as *;

.percentages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: $white;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0.5em;
  }

  h3 {
    width: 10.625rem;
    height: 10.625rem;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
    border: 8px solid $accent-green;
    border-radius: 50%;
    padding: 0.8em;
    margin-bottom: 1.8rem;
  }

  p {
    font-size: $fs-l;
    font-weight: $fw-light;
  }
}

@media (min-width: 1440px) {
  .percentages {
    flex-direction: row;
    justify-content: space-between;

    &__block {
      margin-block: 1em;

      p {
        margin: 0;
      }
    }
  }
}
