@use "variables" as *;
@use "mixins" as *;

.rooms {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rooms-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    margin-block: 1em 0.5em;
  }

  &__subtitle {
    @include text-properties($font-light, $fs-s, $fw-light);
    line-height: 2;
    margin-bottom: 2em;
  }
}

.rooms-card-container {
  position: relative;
  z-index: 10;

  &__grid1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    left: 30px;
  }

  &__grid2 {
    position: absolute;
    z-index: -3;
    bottom: 20px;
    left: 80px;
  }

  &__arrow-left {
    cursor: pointer;
    position: absolute;
    bottom: 52%;
    left: -10px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    @include background-properties("../img/icon-left.svg", no-repeat, center);
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
    transition: $btn-scale;
  }

  &__arrow-left:is(:hover, :focus) {
    transform: scale(1.1);
  }

  &__arrow-right {
    cursor: pointer;
    position: absolute;
    bottom: 52%;
    right: -10px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    @include background-properties("../img/icon-right.svg", no-repeat, center);
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
    transition: $btn-scale;
  }

  &__arrow-right:is(:hover, :focus) {
    transform: scale(1.1);
  }
}

.rooms-card-1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  margin-bottom: 6em;
  padding: 0.5em;

  a {
    margin-left: 1.5em;
    margin-block: 0.5em 2em;
  }

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 505px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    z-index: -2;
    position: absolute;
    top: 520px;
    left: 50px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    padding: 0.8em;
  }

  &__title {
    @include text-properties($font-regular, $fs-xl, $fw-extralight);
    padding-inline: 0.5em;
  }

  &__subtitle {
    @include text-properties($font-light, $fs-s, $fw-light);
    line-height: 2;
    padding-inline: 1em;
  }
}

.rooms-card-2 {
  display: none;
  flex-direction: column;
  gap: 1em;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 525px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    z-index: -2;
    position: absolute;
    top: 540px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    padding: 0.8em;
  }

  &__title {
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    padding-inline: 0.5em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-light;
    line-height: 2;
    padding-inline: 1em;
  }
}

.rooms-card-3 {
  display: none;
  flex-direction: column;
  gap: 1em;
  background-color: $white;
  border-radius: $border-radius-l;
  box-shadow: $box-shadow;
  margin-bottom: 6em;

  &__tag {
    position: absolute;
    top: 50px;
    left: 50px;
    @include text-properties($font-regular, $fs-m, $fw-light);
    background-color: $white;
    border-radius: $border-radius-xs;
    padding: 1em 1.5em;
  }

  &__bg-element1 {
    position: absolute;
    z-index: -1;
    top: 525px;
    left: 15px;
    width: 19.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__bg-element2 {
    z-index: -2;
    position: absolute;
    top: 540px;
    left: 45px;
    width: 15.625rem;
    height: 5rem;
    background-color: $white;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow;
  }

  &__img {
    padding: 0.8em;
  }

  &__title {
    color: $font-regular;
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    padding-inline: 0.5em;
  }

  &__subtitle {
    color: $font-light;
    font-size: $fs-s;
    font-weight: $fw-light;
    line-height: 2;
    padding-inline: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rooms-card-1 {
    width: 21.625rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .rooms-card-container {
    display: flex;
    gap: 2em;
    flex: 1 1 0;
    width: 0;

    &__arrow-left {
      bottom: 52%;
      left: -10px;
    }

    &__arrow-right {
      bottom: 52%;
      right: -765px;
    }

    &__grid2 {
      bottom: 20px;
      left: 485px;
    }
  }
  .rooms-card-1 {
    &__bg-element1 {
      z-index: -1;
      top: 525px;
      left: 30px;
    }

    &__bg-element2 {
      z-index: -2;
      top: 540px;
      left: 60px;
    }
  }

  .rooms-card-3 {
    display: flex;
    padding: 0.5em;

    a {
      margin-bottom: 3em;
      margin-left: 1.5em;
    }

    &__bg-element1 {
      top: 525px;
      left: 420px;
    }

    &__bg-element2 {
      top: 540px;
      left: 450px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .rooms-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: $fs-2xl;
      margin-block: 0.5em;
    }

    &__subtitle {
      width: 35ch;
      margin: 0;
    }
  }

  .rooms-card-container {
    display: flex;
    gap: 2em;
    flex: 1 1 0;
    width: 0;

    &__grid1 {
      top: 70px;
      left: -45px;
    }

    &__grid2 {
      bottom: 140px;
      left: 1025px;
    }

    &__arrow-left {
      bottom: 52%;
      left: -10px;
    }

    &__arrow-right {
      bottom: 52%;
      right: -1160px;
    }
  }

  .rooms-card-1,
  .rooms-card-2,
  .rooms-card-3 {
    display: flex;
    padding: 0.5em;

    a {
      margin-bottom: 3em;
      margin-left: 1.5em;
    }

    &__tag {
      width: 10rem;
      padding: 1em 1.5em;
    }
  }

  .rooms-card-1 {
    &__bg-element1 {
      z-index: -1;
      top: 535px;
      left: 30px;
    }

    &__bg-element2 {
      z-index: -2;
      top: 550px;
      left: 60px;
    }
  }

  .rooms-card-2 {
    background-color: $bg-accent;

    a {
      font-size: 1rem;
    }

    &__tag {
      position: absolute;
      top: 50px;
      left: 450px;
    }

    &__title {
      color: $white;
    }

    &__subtitle {
      color: $white-light;
    }

    &__bg-element1 {
      top: 535px;
      left: 425px;
      background-color: $bg-accent;
    }

    &__bg-element2 {
      top: 550px;
      left: 455px;
      background-color: $bg-accent;
    }
  }

  .rooms-card-3 {
    &__tag {
      position: absolute;
      top: 50px;
      left: 850px;
    }

    &__bg-element1 {
      top: 535px;
      left: 820px;
    }

    &__bg-element2 {
      top: 550px;
      left: 850px;
    }
  }
}
