@use "variables" as *;

.search {
  position: relative;
  z-index: 10;
  width: 21.625rem;
  border-radius: $border-radius-xs;

  &__arrival,
  &__departure {
    background-color: $bg-accent;
    border-bottom: $border-darkblue;
    padding: 1.2em 2em;
  }

  &__adult-child-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $bg-accent;
    margin-inline: 1em;
  }

  &__adults,
  &__children {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-accent;
    padding: 2em;
  }

  &__adults {
    border-right: $border-darkblue;
    margin-right: 1em;
  }

  &__label,
  &__day {
    color: $white-light;
    font-size: $fs-xs;
  }

  &__date-wrapper {
    display: flex;
    align-items: center;
  }

  &__date {
    color: $white;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
    margin-right: 0.3em;
  }

  &__month--wrapper {
    margin-right: 1em;
  }

  &__month {
    color: $white;
    font-size: $fs-s;
    font-weight: $fw-light;
  }

  &__count-wrapper {
    display: flex;
    gap: 1em;
  }

  &__count {
    color: $white;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-accent;
    border-top: $border-darkblue;
    border-radius: 0px 0px $border-radius-xs $border-radius-xs;
  }

  &__check-btn {
    background-color: $accent-green;
    color: $font-regular;
    font-family: inherit;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 24px;
    padding: 1em 2em;
    margin: 4em;
  }

  &__bg-element {
    position: absolute;
    z-index: -1;
    bottom: -16px;
    left: 35px;
    width: 17.625rem;
    height: 9rem;
    background-color: $bg-accent-darker;
    border-radius: $border-radius-xs;
  }

  &__arrow-btn {
    position: absolute;
    bottom: -25px;
    left: 150px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: $border-rounded;
    box-shadow: $box-shadow;
  }
}

@media (min-width: 1440px) {
  .search {
    display: flex;
    margin-top: 1.4em;

    &__arrival,
    &__departure {
      border-right: 1px solid $neutral-1;
      padding: 1.5em 2em;
      padding-right: 4em;
    }

    &__arrival {
      border-radius: $border-radius-xs 0 0 $border-radius-xs;
    }

    &__adult-child-wrapper {
      margin-inline: 0;
    }

    &__adults,
    &__children {
      border-right: 1px solid $neutral-1;
      padding: 1.49em 2em;
    }

    &__date-wrapper {
      margin-right: 3em;
    }

    &__check {
      border-radius: 0px $border-radius-xs $border-radius-xs 0px;
    }

    &__check-btn {
      margin: 3em;
      margin-right: 4em;
    }

    &__bg-element {
      width: 69.715625rem;
      left: 30px;
    }

    &__arrow-btn {
      bottom: -15px;
      left: 580px;
    }
  }
}
