@use "variables" as *;
@use "mixins" as *;
@use "reusableComponents";
@use "header";
@use "hero";
@use "search";
@use "about";
@use "wellness";
@use "restaurants";
@use "advantages";
@use "rooms";
@use "percentages";
@use "testimonials";
@use "blog";
@use "footer";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $bg-accent-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
