@use "variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-size: $fs-xl;
    font-weight: $fw-extralight;
    color: $white;
    text-decoration: none;
  }

  &__cta-btn {
    background-color: transparent;
    color: $white;
    font-family: inherit;
    font-weight: $fw-regular;
    letter-spacing: 1px;
    border: none;
    border: $border-neutral;
    border-radius: 24px;
    padding: 1em 2.5em;
  }

  &__menu {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border: $border-neutral;
    border-radius: 50%;
    padding: 1.4em;

    span {
      display: block;
      height: 2px;
      width: 12px;
      background-color: $white;
      margin-bottom: 3px;
    }
  }
}
