@use "variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2em;
  margin-block: 1em;

  &__title {
    width: 10ch;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
    color: $white;
    line-height: 4rem;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 200;
    color: white;
  }

  &__social-icons-wrapper {
    display: flex;
    gap: 0.5em;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: $border-neutral;
      border-radius: 50%;
      padding: 1em;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__grid {
    position: absolute;
    right: 24px;
    bottom: -160px;
  }
}
