@use "variables" as *;

.search {
  position: relative;
  z-index: 999;
  width: 21.625rem;
  background-color: $bg-accent;
  border-radius: 15px;

  &__arrival,
  &__departure {
    border-bottom: 1px solid $bg-accent-dark;
    padding: 1.2em 2em;
  }

  &__adult-child-wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: 2em;
  }

  &__adults,
  &__children {
    padding: 2em;
  }

  &__adults {
    border-right: 1px solid $bg-accent-dark;
  }

  &__label,
  &__day {
    color: $white-light;
    font-size: $fs-xs;
  }

  &__date-wrapper {
    display: flex;
    align-items: center;
  }

  &__date {
    color: $white;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
    margin-right: 0.3em;
  }

  &__month--wrapper {
    margin-right: 1em;
  }

  &__month {
    color: $white;
    font-size: $fs-s;
    font-weight: $fw-light;
  }

  &__count-wrapper {
    display: flex;
    gap: 1em;
  }

  &__count {
    color: $white;
    font-size: $fs-2xl;
    font-weight: $fw-extralight;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-accent;
    border-top: 1px solid $bg-accent-dark;
    border-radius: 0px 0px 15px 15px;
  }

  &__check-btn {
    background-color: $accent-green;
    color: $font-regular;
    font-family: inherit;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 24px;
    padding: 1em 2em;
    margin: 4em;
  }

  &__bg-element {
    position: absolute;
    z-index: -1;
    bottom: -16px;
    left: 35px;
    width: 17.625rem;
    height: 9rem;
    background-color: $bg-accent-darker;
    border-radius: 15px;
  }

  &__arrow-btn {
    position: absolute;
    bottom: -25px;
    left: 150px;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    background-image: url("./img/icon-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 10px 12px 48px 0 rgba(0, 0, 0, 0.2);
  }
}
