.section--home {
  height: 55rem;
  background-image: url("./img/hero-background.png");
  background-position: top;
}

.section--about,
.section--restaurants,
.section--rooms,
.section--testimonials {
  background-color: #edf1f5;
}

.section--restaurants {
  padding-bottom: 8em;
}

.section--advantages {
  background-color: #fff;
}

.section--percentages {
  background-color: #2c4664;
  padding-block: 2em;
}

.section--about {
  padding-bottom: 6em;
}
